body{
    background-color: #F6F1F1;
    background-size: cover;
    background-repeat: no-repeat;
}

.login{
    margin:auto;
    height:auto;
    width: 65%;
    /* border: 2px solid black; */
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.2);
    position:absolute;
    top: 10%;
    left: 20%;
    background-color: white;
    font-size: 15px;
}

.container{
    padding: 0;
    padding-left: 10px;
}

input{
    height: 30px;
}

.tagline{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.side_image{
    height: 496px;
    padding: 0;
    width: 100%;
}

@media only screen and (max-width: 850px){
    .img_col{
        display:none;
    }
}
